$primary: #0b3559;
$primary-light: #3f5e86;
$primary-dark: #000e2f;

$secondary: #6bf2f2;
$secondary-light: #a3ffff;
$secondary-dark: #26bfbf;
//$secondary: #fcdebe;
//$secondary-light: #fffff1;
//$secondary-dark: #c8ac8e;

$color-light: #D1D5DB;

$color-white: #fff;

$box-shadow-color: rgba($primary, .3);

$background-color: #F9FAFC !default;
$box-shadow: 0px 1px 4px $box-shadow-color !default;

// sidebar variables
$sidebar-width: 280px;
$sidebar-image-logo: "../../assets/images/logo-example.png";

// header
$header-height: 70px;
$header-padding: 15px;
