$primary: #3A445D;
$primary-light: #656f8a;
$primary-dark: #111d33;

$secondary: #10b981;
$secondary-light: #5decb1;
$secondary-dark: #008854;
//$secondary: #fcdebe;
//$secondary-light: #fffff1;
//$secondary-dark: #c8ac8e;

$color-light: #D1D5DB;

$color-white: #fff;

$box-shadow-color: rgba($primary, .3);

$background-color: #F9FAFC !default;
$box-shadow: 0px 1px 4px $box-shadow-color !default;

// sidebar variables
$sidebar-width: 280px;
$sidebar-image-logo: "../../assets/images/logo-example.png";

// header
$header-height: 70px;
$header-padding: 15px;
